:root {
    --oranye-bem: rgba(241,90,34,1);
    --putih-bem: rgba(230,230,230,1);
    --emas-bem: rgba(212,156,67,1);
    --hitam-bem: rgba(10,10,10,1);
    --warna-feb: rgba(225,204,0,1);
    --warna-fiabikom: rgba(225,111,132,1);
    --warna-fpb: rgba(9,113,171,1);
    --warna-ft: rgba(17,72,150,1);
    --warna-fh: rgba(223,0,36,1);
    --warna-fkik: rgba(65,152,24,1);
    --warna-fp: rgba(136,42,147,1);
    --warna-ftb: rgba(103,154,209,1);
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Panton;
    src: url('../font/Panton-BlackCaps.otf');
}

@font-face {
    font-family: Poppins;
    src: url('../font/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../font/Montserrat-VariableFont_wght.ttf');
}

.home {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding-top: 6rem;
}

main {
    background-image: linear-gradient(60deg, var(--putih-bem) 0%,var(--emas-bem) 25%,
    var(--oranye-bem) 100%);
    position: relative;
    overflow-x: hidden;
}

footer {
    overflow: hidden;
}

body p, body span, body div{
    color: var(--putih-bem);
    font-family: 'Montserrat';
}

div {
    margin: 0;
    padding: 0;
}

button, a {
    border: 0;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


.tab {
    margin-left: 1rem;
}

/* Page Up Button */

.page-top-button {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    right: 2rem;
    bottom: 4.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--hitam-bem);
    padding: 0.2rem;
    border-width: 0.15rem;
    transition: all 0.1s ease-in-out, opacity 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    border-style: solid;
    border-color: var(--putih-bem);
    border-radius: 0.5rem;
}

.page-top-button:hover {
    border-color: rgba(255,124,68,1);
    box-shadow: 0 0 0.5em rgba(241,90,34,.5);
}

.page-top-button:active {
    background-color: var(--oranye-bem);
}

.page-top-button > p {
    height: 100%;
    color: var(--putih-bem);
    transition: all 0.1s ease-in-out;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2.5rem;
}

.page-top-button:hover > p {
    color: var(--oranye-bem);
}

.page-top-button:active > p {
    color: var(--putih-bem);
}

.button-hidden {
    opacity: 0;
    cursor: default;
}

/* Page Up Button */