footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--hitam-bem);
    box-shadow: 0 0 2rem rgba(10,10,10,0.8);
}

footer > div {
    display: grid;
    grid-template-columns: 6rem 1fr;
    height: min-content;
    max-width: 60%;
    min-width: 15rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    column-gap: 2rem;
}

footer > .copyright {
    display: block;
    max-width: none;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--putih-bem);
    color: var(--hitam-bem);
}

.copyright > span {
    color: var(--oranye-bem);
}

.footer-logo {
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
}

.footer-logo > img {
    height: 100%;
} 

.footer-sesi-kontak {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    justify-content: space-evenly;
}

.footer-kontak {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.footer-judul-kontak {
    color: var(--oranye-bem);
    font-weight: 600;
}

.footer-kontak > p {
    font-size: 0.9rem;
}

@media (max-width: 85rem) {
    .footer-sesi-kontak {
        grid-template-columns: 1fr 1fr;
    }

    footer > div {
        max-width: 75%;
    }
}

@media (max-width: 50rem) {
    footer > div {
        max-width: 90%;
    }
}

@media (max-width: 35rem) {
    footer > div, .footer-sesi-kontak {
        grid-template-columns: 1fr;
    }
    
    .footer-logo{
        display: none;
    }
}