footer {
    display: flex;
    justify-content: center;
    background-color: rgba(20,20,20,1);
    box-shadow: 0 0 2rem rgba(20,20,20,0.8);
}

footer > div {
    display: grid;
    grid-template-columns: 6rem 1fr;
    height: min-content;
    max-width: 75%;
    min-width: 45rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    column-gap: 2rem;
}

.footer-logo {
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
}

.footer-logo > img {
    height: 100%;
} 

.footer-sesi-kontak {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    justify-content: space-evenly;
}

@media (max-width: 65rem) {
    .footer-sesi-kontak {
        grid-template-columns: 1fr 1fr;
    }
}

.footer-kontak {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.footer-judul-kontak {
    color: rgba(241,90,34,1);
    font-weight: 600;
}

.footer-kontak > p {
    font-size: 1rem;
}