.footer {
    display: grid;
    grid-template-columns: 8rem 1fr;
    height: min-content;
    background-color: rgba(20,20,20,1);
    box-shadow: 0 0 2rem rgba(20,20,20,0.8);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    column-gap: 2rem;
}

.footer-logo {
    display: flex;
    height: 8rem;
    background-color: rgba(220,220,220,1);
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(220,220,220,0.3);
    justify-content: center;
    align-items: center;
}

.footer-logo > img {
    height: 90%;
} 

.footer-sesi-kontak {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    justify-content: space-evenly;
}

@media (max-width: 65rem) {
    .footer-sesi-kontak {
        grid-template-columns: 1fr 1fr;
    }
}

.footer-kontak {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.footer-judul-kontak {
    color: rgba(241,90,34,1);
    font-weight: 600;
}

.footer-kontak > p {
    font-size: 1.2rem;
}