header {
    --header-height: 6rem;
    position: fixed;
    display: grid;
    grid-template-columns: calc(1.1*var(--header-height)) 1fr min-content;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--hitam-bem);
    box-shadow: 0 0 2rem var(--hitam-bem);
    padding-right: 1rem;
    border-style: solid;
    border-color: var(--putih-bem);
    border-width: 0 0 0.15rem 0;
    z-index: 100;
    transition: all 0.1s ease-in-out;
}

.header-logo {
    aspect-ratio: 1.1/1;
    height: var(--header-height);
    display: flex;
    border-radius: 0 2rem 2rem 0;
    background-color: var(--putih-bem);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.logo > img {
    height: 100%;
}

.nama-organisasi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    overflow: hidden;
}

.nama-organisasi > p {
    width: max-content;
    font-family: Panton;
    font-size: 1.3rem;
    background-image: linear-gradient(315deg, var(--putih-bem) 0%, var(--putih-bem) 50%,
                     var(--emas-bem) 75%, var(--oranye-bem) 100%);
    background-size: 200%;
    background-position: right;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s ease-in-out, font-size 0.1s ease-in-out;
}

.nama-organisasi > p:hover {
    background-position: left;
}

#nama-organisasi-short {
    display: none;
}

/* Navigation Bar */
.navbar-desktop {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.navbar-selection-dd,
.navbar-selection {
    position: relative;
    width: 9.5rem;
    margin: 0 0.1rem 0 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    transition: 0.1s ease-in-out;
}

.navbar-selection-dd > a,
.navbar-selection > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hitam-bem);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-width: 0.15rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    border-style: solid;
    border-color: transparent;
    border-radius: 1.5rem;
}

.navbar-selection-dd > a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar-selection-dd:hover > a,
.navbar-selection:hover > a {
    border-color: rgba(255,124,68,1);
    box-shadow: 0 0 0.5em rgba(241,90,34,.5);
}

.navbar-selection-dd > a > p,
.navbar-selection > a > p {
    height: 100%;
    color: var(--putih-bem);
    transition: all 0.1s ease-in-out;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
}

.navbar-selection-dd > a > .navbar-dd-indicator {
    font-weight: 100;
    font-size: 0.7rem;
    padding-left: 8%;
}

.navbar-selection-dd:hover > a > p,
.navbar-selection:hover > a > p {
    color: var(--oranye-bem);
}

.navbar-selection-dd > a:active,
.navbar-selection > a:active {
    background-color: var(--oranye-bem);
}

.navbar-selection-dd:hover > a > .navbar-dd-indicator,
.navbar-selection:hover > a > .navbar-dd-indicator {
    padding: 0;
    width: 0;
    opacity: 0;
}

.navbar-selection-dd > a:active > p,
.navbar-selection > a:active > p {
    color: var(--putih-bem);
}

.navbar-dropdown {
    position: absolute;
    display: flex;
    width: 9.5rem;
    height: 0;
    flex-direction: column;
    align-items: center;
    transition: 0.1s ease-in-out;
    overflow: hidden;
    border-width: 0 0.15rem 0.15rem 0.15rem;
    border-style: solid;
    border-color: transparent;
}

.navbar-selection-dd:hover .navbar-dropdown {
    height: 7.5rem;
    box-shadow: 0 0 0.5em rgba(241,90,34,.5);
    border-top-width: 0;
    border-color: rgba(255,124,68,1);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.navbar-dropdown > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 10rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: var(--hitam-bem);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.navbar-dropdown > a > p {
    color: var(--putih-bem);
    font-family: 'Poppins';
    font-size: 0.8rem;
    transition: all 0.1s ease-in-out;
    display: block;
}

.navbar-dropdown > a:hover {
    background-color: rgba(35,35,35,1);
}

.navbar-dropdown > a:hover > p {
    color: var(--oranye-bem);
}

.navbar-dropdown > a:active {
    background-color: var(--oranye-bem);
}

.navbar-dropdown > a:active > p{
    color: var(--putih-bem);
}

.button-navbar-mobile {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--hitam-bem);
    padding: 0.2rem;
    border-width: 0.15rem;
    transition: all 0.1s ease-in-out, opacity 0.2s ease-in-out;
    cursor: pointer;
    border-style: solid;
    border-color: var(--putih-bem);
    border-radius: 0.5rem;
}

.button-navbar-mobile > div {
    background-color: var(--putih-bem);
    height: 0.6rem;
    width: 3rem;
    border-radius: 0.3rem;
}

.navbar-mobile {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 8rem 8rem 8rem;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba( 10, 10, 10, 0.95);
    z-index: 99;
    transition: all 0.1s ease-in-out;
}

.navbar-selection-dd-mobile,
.navbar-selection-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-left: 0.25rem solid transparent;
    border-bottom: 0.25rem solid var(--hitam-bem);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.navbar-selection-dd-mobile > a,
.navbar-selection-mobile > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.navbar-selection-dd-mobile:hover,
.navbar-selection-mobile:hover {
    border-color: rgba(255,124,68,1);
    box-shadow: 0 0 0.5em rgba(241,90,34,.5);
}

.navbar-selection-dd-mobile > a > p,
.navbar-selection-mobile > a > p {
    height: 100%;
    color: var(--putih-bem);
    transition: all 0.1s ease-in-out;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2.25rem;
}

.navbar-selection-dd-mobile > a > .navbar-dd-indicator {
    font-weight: 100;
    font-size: 1.75rem;
    padding-left: 1rem;
}

.navbar-selection-dd-mobile:hover,
.navbar-selection-mobile:hover {
    background-color: var(--hitam-bem);
}

.navbar-selection-dd-mobile:hover > a > p,
.navbar-selection-mobile:hover > a > p {
    color: var(--oranye-bem);
}

.navbar-selection-dd-mobile:active,
.navbar-selection-mobile:active {
    background-color: var(--oranye-bem);
}

.navbar-selection-dd-mobile > a:active,
.navbar-selection-mobile > a:active {
    background-color: var(--oranye-bem);
}

.navbar-selection-dd-mobile:hover > a > .navbar-dd-indicator,
.navbar-selection-mobile:hover > a > .navbar-dd-indicator {
    padding: 0;
    width: 0;
    opacity: 0;
}

.navbar-selection-dd-mobile > a:active > p,
.navbar-selection-mobile > a:active > p {
    color: var(--putih-bem);
}

.navbar-dropdown-mobile {
    display: none;
    width: 9.5rem;
    height: 0;
    flex-direction: column;
    align-items: center;
    transition: 0.1s ease-in-out;
    overflow: hidden;
    border-width: 0 0.15rem 0.15rem 0.15rem;
    border-style: solid;
    border-color: transparent;
}

.navbar-selection-dd-mobile:hover .navbar-dropdown-mobile {
    height: 100%;
    box-shadow: 0 0 0.5em rgba(241,90,34,.5);
    border-top-width: 0;
    border-color: rgba(255,124,68,1);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.navbar-dropdown-mobile > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--hitam-bem);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.navbar-dropdown-mobile > a > p {
    color: var(--putih-bem);
    font-family: 'Poppins';
    font-size: 0.8rem;
    transition: all 0.1s ease-in-out;
    display: block;
}

.navbar-dropdown-mobile > a:hover {
    background-color: rgba(35,35,35,1);
}

.navbar-dropdown-mobile > a:hover > p {
    color: var(--oranye-bem);
}

.navbar-dropdown-mobile > a:active {
    background-color: var(--oranye-bem);
}

.navbar-dropdown-mobile > a:active > p{
    color: var(--putih-bem);
}

/* Navigation Bar */

/* Responsive */

@media (min-width: 85.0625rem) {
    .button-navbar-mobile {
        display: none;
    }
}

@media (max-width: 85rem) {
    .navbar-selection, .navbar-selection-dd {
        display: none;
    }
}

@media (max-width: 50rem) {
    header {
        --header-height: 4rem;
    }

    .header-logo {
        border-radius: 0 1.5rem 1.5rem 0;
    }

    .nama-organisasi {
        padding-left: 1rem;
    }

    .nama-organisasi > p {
        font-size: 1rem;
    }

    .button-navbar-mobile {
        width: 2.5rem;
        height: 2.5rem;
    }

    .button-navbar-mobile > div {
        height: 0.3rem;
        width: 1.5rem;
        border-radius: 0.15rem;
    }
}

@media (max-width: 35rem) {
    #nama-organisasi-long {
        display: none;
    }

    #nama-organisasi-short {
        display: block;
    }

    .nama-organisasi > p {
        font-size: 2rem;
    }
}

/* Responsive */