/* Kabinet */
.kabinet {
    background-color: var(--putih-bem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    box-shadow: 0 0 2rem var(--hitam-bem);
}

.nama-kabinet {
    width: max-content;
    background-image: linear-gradient(270deg, var(--putih-bem) 50%,
                     var(--emas-bem) 75%, var(--oranye-bem) 100%);
    background-size: 400%;
    font-family: Poppins;
    font-weight: 600;
    font-size: 6.5rem;
    color: transparent;
    text-align: center;
    -webkit-background-clip: text;
    filter: drop-shadow(0 0 2rem rgba(10,10,10,0.4));
    animation: kabinet-animation 1s;
}

@keyframes kabinet-animation {
    0% {
        background-position: right;
        filter: drop-shadow(0 0 2rem transparent);
    }
    100% {
        background-position: left;
        filter: drop-shadow(0 0 2rem rgba(10,10,10,0.4));
    }
}

.periode-kabinet {
    font-size: 3rem;
    color: var(--hitam-bem);
    filter: drop-shadow(0 0 2rem rgba(10,10,10,0.4)); 
}
/* Kabinet */

/* Visi Misi */
.profil-visi-misi {
    display: flex;
    justify-content: center;
}

.profil-visi-misi-bg {
    padding: 2rem 0 2rem 0;
    background-color: rgba(10,10,10,0.7);
    box-shadow: 0 0 2rem rgba(10,10,10,0.4);
    max-width: 75%;
    min-width: 45rem;
}

.sesi-profil-visi-show, .sesi-profil-visi-hidden,
.sesi-profil-misi-show, .sesi-profil-misi-hidden  {
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.sesi-profil-visi-hidden, .sesi-profil-misi-hidden {
    filter: blur(5px);
    opacity: 0;
}

.sesi-profil-visi-hidden {
    transform: translateX(100%);
    filter: blur(5px);
    opacity: 0;
}

.sesi-profil-misi-hidden {
    transform: translateX(-100%);
}

.sesi-profil-misi-show, .sesi-profil-misi-hidden {
    margin-left: 20%;
    margin-right: 5%;
}

.sesi-profil-visi-show, .sesi-profil-visi-hidden {
    margin-right: 20%;
    margin-left: 5%;
}

.sesi-profil-judul {
    font-weight: 800;
    font-size: 3rem;
    color: var(--putih-bem);
    text-shadow: 0 0 2rem rgba(230,230,230,0.2);
    margin-bottom: 1rem;
}

.sesi-profil-misi-show > .sesi-profil-judul {
    text-align: left;
    padding-left: 2rem;
}

.sesi-profil-misi-show > .sesi-profil-judul {
    text-align: right;
    padding-right: 2rem;
}

.sesi-profil-deskripsi {
    display: flex;
    text-align: justify;
    font-size: 1.8rem;
    border-radius: 2rem;
    font-weight: 500;
    color: var(--putih-bem);
    box-shadow: 0 0 2rem rgba(10,10,10,0.4);
    padding: 1.5rem;
}

.sesi-profil-misi-show > .sesi-profil-deskripsi {
    border-top-right-radius: 0;
    background-image: linear-gradient(45deg, var(--emas-bem) 0%, var(--oranye-bem) 100%);
}

.sesi-profil-visi-show > .sesi-profil-deskripsi {
    border-top-left-radius: 0;
    background-image: linear-gradient(315deg, var(--emas-bem) 0%, var(--oranye-bem) 100%);
}
/* Visi Misi */

/* Pengurus */
.daftar-pengurus {
    scroll-margin-top: 7rem;
    background-color: var(--hitam-bem);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    box-shadow: 0 0 2rem rgba(10,10,10,0.8);
}

.daftar-pengurus-align {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 75%;
    min-width: 45rem;
}

.judul-departemen-show, .judul-departemen-hidden, 
.judul-jabatan-show, .judul-jabatan-hidden {
    font-family: Panton;
    font-size: 5rem;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 2rem rgba(241,90,34,0.2);
    transition: all 0.5s ease-in-out;
}

.judul-jabatan-show, .judul-jabatan-hidden {
    background-image: linear-gradient(0deg, var(--emas-bem) 0%, var(--oranye-bem) 100%);
}

.judul-departemen-show, .judul-departemen-hidden {
    background-image: linear-gradient(0deg, var(--putih-bem) 0%, var(--oranye-bem) 100%);
}

.judul-departemen-hidden, .judul-jabatan-hidden {
    transform: translate(-100%);
    filter: blur(5px);
    text-shadow: none;
    opacity: 0;
}

.ketua-wakil, .departemen-kesekretariatan,
.departemen-keuangan, .departemen-internal,
.departemen-humas, .departemen-pmo {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem 0 5rem 0;
}

.ketua-wakil {
    grid-template-columns: 1fr 1fr;
}

.departemen-kesekretariatan, .departemen-keuangan,
.departemen-internal, .departemen-humas,
.departemen-pmo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 115rem) {
    .departemen-kesekretariatan, .departemen-keuangan,
    .departemen-internal, .departemen-humas,
    .departemen-pmo {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 85rem) {
    .departemen-kesekretariatan, .departemen-keuangan,
    .departemen-internal, .departemen-humas,
    .departemen-pmo {
        grid-template-columns: 1fr 1fr;
    }
}

.profil-pengurus-ketua-show, .profil-pengurus-ketua-hidden,
.profil-pengurus-wakil-show, .profil-pengurus-wakil-hidden,
.profil-pengurus-koor-show, .profil-pengurus-koor-hidden,
.profil-pengurus-staff-show, .profil-pengurus-staff-hidden {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 28rem;
    transition: 0.5s ease-in-out, filter 0.2s ease-in-out;
    border-style: solid;
    border-radius: 2rem;
    border-color: transparent;
}

.profil-pengurus-ketua-hidden, .profil-pengurus-wakil-hidden,
.profil-pengurus-koor-hidden, .profil-pengurus-staff-hidden {
    transform: translate(100%);
    filter: blur(5px);
    text-shadow: none;
    opacity: 0;
}

.profil-pengurus-ketua-show, .profil-pengurus-ketua-hidden,
.profil-pengurus-wakil-show, .profil-pengurus-wakil-hidden {
    border-color: var(--emas-bem);
}

.profil-pengurus-ketua-show > .keterangan-pengurus,
.profil-pengurus-ketua-hidden > .keterangan-pengurus {
    background-image: linear-gradient(0deg, var(--emas-bem) 0%, var(--oranye-bem) 50%);
}

.profil-pengurus-wakil-show > .keterangan-pengurus,
.profil-pengurus-wakil-hidden > .keterangan-pengurus {
    background-image: linear-gradient(0deg, var(--emas-bem) 0%, var(--oranye-bem) 30%);
}

.profil-pengurus-koor-show, .profil-pengurus-koor-hidden {
    grid-column: 1/5;
    border-color: var(--oranye-bem);
}

@media (max-width: 115rem) {
    .profil-pengurus-koor-show, .profil-pengurus-koor-hidden {
        grid-column: 1/4;
    }
}

@media (max-width: 85rem) {
    .profil-pengurus-koor-show, .profil-pengurus-koor-hidden {
        grid-column: 1/3;
    }
}

.profil-pengurus-ketua-show:hover, .profil-pengurus-wakil-show:hover, 
.profil-pengurus-koor-show:hover, .profil-pengurus-staff-show:hover {
    filter: drop-shadow(0 0 2rem rgba(241,90,34,0.5));
}

.profil-pengurus-ketua-show:hover > .foto-pengurus > img,
.profil-pengurus-wakil-show:hover > .foto-pengurus > img, 
.profil-pengurus-koor-show:hover > .foto-pengurus > img,
.profil-pengurus-staff-show:hover > .foto-pengurus > img {
    width: 95%;
}

.departemen-kesekretariatan > div > div > .jabatan-pengurus,
.departemen-humas > div > div > .jabatan-pengurus {
    font-size: 1rem;
}

.departemen-keuangan > div > div > .jabatan-pengurus,
.departemen-internal > div > div > .jabatan-pengurus {
    font-size: 1.25rem;
}

.departemen-pmo > div > div > .jabatan-pengurus {
    font-size: 0.9rem;
}

.foto-pengurus {
    position: relative;
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.8rem 1.8rem 0 0;
    box-shadow: inset 0 0 2rem rgba(10,10,10,0.8);
    background-image: linear-gradient(0deg, var(--putih-bem) 0%, rgba(55,55,55,1) 100%);
}

.foto-pengurus > img {
    position: absolute;
    bottom: 0;
    width: 90%;
    transition: 0.2s ease-in-out;
}

.keterangan-pengurus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 6rem;
    border-radius: 0 0 1.6rem 1.6rem;
    background-color: var(--oranye-bem);
}

.keterangan-pengurus > p {
    color: var(--putih-bem);
    font-weight: 600;
    text-shadow: 0 0 2rem rgba(10,10,10,0.8);
    text-align: center;
}

.jabatan-pengurus {
    font-family: Panton;
    font-size: 1.7rem;
}

.nama-pengurus {
    font-size: 1.3rem;
}

.komposisi-pengurus {
    display: flex;
    justify-content: center;
}

.komposisi-pengurus-align {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    min-width: 45rem;
    background-color: rgba(10,10,10,0.8);
    box-shadow: 0 0 2rem rgba(10,10,10,0.4);
    padding: 3rem;
}

.judul-komposisi-pengurus {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
    text-shadow: 0 0 2rem rgba(230,230,230,0.2);
}

.tabel-komposisi-pengurus {
    display: grid;
    grid-template-columns: 9rem 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

.tabel-komposisi-pengurus > p {
    font-weight: 500;
    font-size: 1.5rem;
}

.komposisi-feb, .komposisi-fiabikom,
.komposisi-fpb, .komposisi-ft,
.komposisi-fh, .komposisi-fkik,
.komposisi-fp, .komposisi-ftb {
    display: flex;
    align-items: center;
    height: 3rem;
    font-weight: 500;
    font-size: 1.5rem;
    text-shadow: 0 0 1rem rgba(10,10,20,0.8);
    transition: all 0.5 ease-in-out;
}

.komposisi-f-hidden {
    width: 0rem;
    transition: all 0.5s ease-in-out;
}

.komposisi-feb {
    width: calc(14 / 37 * 100%);
    background-color: var(--warna-feb);
    box-shadow: 0 0 1rem rgba(225,204,0,0.3);
}

.komposisi-fiabikom {
    width: calc(3 / 37 * 100%);
    background-color: var(--warna-fiabikom);
    box-shadow: 0 0 1rem rgba(225,111,132,0.3);
}

.komposisi-fpb {
    width: calc(3 / 37 * 100%);
    background-color: var(--warna-fpb);
    box-shadow: 0 0 1rem rgba(9,113,171,0.3);
}

.komposisi-ft {
    width: calc(2 / 37 * 100%);
    background-color: var(--warna-ft);
    box-shadow: 0 0 1rem rgba(17,72,150,0.3);
}

.komposisi-fh {
    width: calc(0 / 37 * 100%);
    background-color: var(--warna-fh);
    box-shadow: 0 0 1rem rgba(223,0,36,0.3);
}

.komposisi-fkik {
    width: calc(2 / 37 * 100%);
    background-color: var(--warna-fkik);
    box-shadow: 0 0 1rem rgba(65,152,24,0.3);
}

.komposisi-fp {
    width: calc(12 / 37 * 100%);
    background-color: var(--warna-fp);
    box-shadow: 0 0 1rem rgba(136,42,147,0.3);
}

.komposisi-ftb {
    width: calc(1 / 37 * 100%);
    background-color: var(--warna-ftb);
    box-shadow: 0 0 1rem rgba(103,154,209,0.3);
}

.tabel-komposisi-pengurus > div > p {
    padding-left: 0.3rem;
}
/* Pengurus */