# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

bem-km-uaj-official-website-firebase-adminsdk-c0gmu-8c1afdb835.json
service-account.json
