rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /test_pemilu/{document=**} {
      allow read: if false; 
      allow write: if true;
    }

    match /periods/{document=**} {
      allow read: if true; 
      allow write: if false;
    }
    
    match /{document=**} {
      allow read: if false; 
      allow write: if false;
    }
  }
}