@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat/Montserrat-Black.ttf");
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf");
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf");
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf");
  src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf");
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf");
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ThinItalic";
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.ttf");
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Panton-BlackCaps";
  src: url("../fonts/Panton/Panton-BlackCaps.otf");
  src: url("../fonts/Panton/Panton-BlackCaps.otf") format("opentype");
}

@font-face {
  font-family: "Panton-BlackitalicCaps";
  src: url("../fonts/Panton/Panton-BlackitalicCaps.otf");
  src: url("../fonts/Panton/Panton-BlackitalicCaps.otf") format("opentype");
}

@font-face {
  font-family: "Panton-LightCaps";
  src: url("../fonts/Panton/Panton-LightCaps.otf");
  src: url("../fonts/Panton/Panton-LightCaps.otf") format("opentype");
}

@font-face {
  font-family: "Panton-LightitalicCaps";
  src: url("../fonts/Panton/Panton-LightitalicCaps.otf");
  src: url("../fonts/Panton/Panton-LightitalicCaps.otf") format("opentype");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("../fonts/Poppins/Poppins-Black.ttf");
  src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-BlackItalic";
  src: url("../fonts/Poppins/Poppins-BlackItalic.ttf");
  src: url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-BoldItalic";
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf");
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLightItalic";
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Italic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-LightItalic";
  src: url("../fonts/Poppins/Poppins-LightItalic.ttf");
  src: url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-MediumItalic";
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf");
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBoldItalic";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Thin";
  src: url("../fonts/Poppins/Poppins-Thin.ttf");
  src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ThinItalic";
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf");
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
}